.cajaP {
    border: map-get($variablesAsidePro , bordes );
    background-color: map-get($variablesAdsidePro, colorFondo );
    border-radius: map-get($variablesAdsidePro, borderRadio);
    transition: map-get($variablesAdsidePro, tiempotransicion);
    margin: map-get($variablesAdsidePro, margenes);
    &:hover {
        background-color: #242729c0;
    } 
}

.parrafoP {
    color:  rgb(247, 243, 243);
    font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width:776px){
    aside {
        display: flex;
        flex-direction: column;
    }    
}