@mixin propiedades($colorLetra,$colorFondo,$familiaFuente,$borderRadio,$ancho,$alto,$anchoLetra,$transicion) {
    color: $colorLetra;
    background-color: $colorFondo;
    font-family: $familiaFuente;
    border-radius: $borderRadio;
    width: $ancho;
    height: $alto;
    font-weight: $anchoLetra;
    transition: $transicion;
}

.btnProd {
   @include propiedades( rgb(247, 243, 243), #242729, 'Roboto', sans-serif, 10px, 100%, 40px, bold, all 0.5s);
    &:hover {
    border-radius: 10px;
    background-color: rgba(209, 205, 205, 0.199);
    color: #242729;
}
}

.btnProd2 {
    @include propiedades( rgb(247, 243, 243), #242729, 'Roboto', sans-serif, 10px, 85%, 35px, bold, all 0.5s);
    &:hover {
         border-radius: 10px;
    background-color: rgba(209, 205, 205, 0.199);
    color: #242729;
    }
}