.btnProd {
    color: rgb(247, 243, 243);
    background-color: #242729;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    width: 100%;
    height: 40px;
    font-weight: bold;
    transition: all 0.5s;
    &:hover {
    border-radius: 10px;
    background-color: rgba(209, 205, 205, 0.199);
    color: #242729;
}
}

.btnProd2 {
    color: rgb(247, 243, 243);
    background-color: #242729;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    width: 85%;
    height: 35px;
    font-weight: bold;
    transition: all 0.5s;
    &:hover {
         border-radius: 10px;
    background-color: rgba(209, 205, 205, 0.199);
    color: #242729;
    }
}

