
.contenedorInicio {
    background-image: url(img/Inicio.jpg);
    .cajaTitulo {
        margin-top: 50px;
        color: black;
        font-family: 'Cairo', sans-serif;
        text-shadow: 0px 10px 25px rgba(0, 0, 0, 0.486);
        hr {
            width: 300px;
            height: 3px;
            color: black;
            background-color: rgb(0, 0, 0);
            margin: auto;
            opacity: 1;
        }}}

