.hrNos1 {
    margin-top: 70px;
    width: 80%;
    height: 2px;
}

.hrNos2 {
    height: 2px;
    width: 200px;
    margin-top: 20px;
}

.hrNos3 {
    width: 80%;
    height: 2px;
    margin-bottom: 60px;
    margin-top: 50px;
}