
.mainNov {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cajaNov {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cajaTextoNov {
    height: 200px;
    margin-bottom: 150px;
    .tNov {
  font-family: 'Roboto', sans-serif;
  background-color: #242729;
  color: #fff;
  width: 50%;
  height: 100px;
  margin: auto;
  border-radius: 10px;
  padding: 30px 5px 0px 5px;
  transition: all .8s;
  &hover {
  transform: scale(1.02);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.466);
}
}
.tNov1 {
  font-family: 'Raleway', sans-serif;
  padding: 0px 5px;
}
}

.imgNov {
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.466);
  width: 90%;
  height: auto;
  border-radius: 10px;
  opacity: 0.8;
  transition: all .8s;
  margin-top: 50px;
  &hover {
  opacity: 1;
}
}


