@media screen and (min-width: 776px){
    footer {
        display: flex;
        flex-direction: row;
       justify-content: space-around;
    }

       .cajaRedes {
        margin-top: 120px;
       }

       .cajaTextoFot {
        margin-top: 50px;
       }
}