@media  screen and (min-width: 776px) {
    .mainNov {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .cajaNov {
       width: 33%;
    }

    .imgNov {
        width: 240px;
        height: 200px;
        margin-top: 100px;
    }

    .cajaTextoNov {
        margin-bottom: 2000px; 
         .tNov {
    width: 60%;
    padding: 10px 5px 0px 5px;
}
  }


}

@media  screen and (min-width: 992px) {
    .imgNov {
        width: 320px;
        height: 200px;
       
    }
}

