nav .menuHam {
    display: none;
    transition: all 3s;
    &:checked + ul {
          display: flex;
    }
}

.imgHam {
    width: 30px; 
    margin: 20px 0px 0px 25px;
}

nav ul{
     width: 100%;
     display: none;
     flex-direction: column;
     align-items: flex-end;
    list-style: none;
    margin-right: 20px;
     li {
    padding: 7px; 
     a {  
    text-decoration: none;
    color: #020202dc;
    font-weight: 600;
    font-size: 17px;
    transition: all .5s;
    &:hover {
         color: #000;
     text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.253);
}}}}

@media  screen and (min-width: 776px) {
  .labelMenu {
    display: none;
}

nav ul{
    margin:auto;   
    height: 70px;
    margin-top:30px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-right: 32px;
    li {
        width: 120px;   
        text-align: center;
    }
}
}

.aI {
    margin-left: 35px;
}