.seccion1I {
    margin-top: 220px;
   background-color: rgba(0, 0, 0, 0.473);
   height: auto;
   .h2I {
    color: #fff;
    text-shadow: 0px 5px 15px rgba(0, 0, 0, 0.658);
    font-family: 'Cairo', sans-serif;
 }
 .pI {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
}

}




 .seccion2I{
    margin-top: 80px;
    .h2S2I {
    text-shadow: 0px 5px 20px rgba(0, 0, 0, 0.219);
}
    .pS2 {
    font-size: 20px;
     font-family: 'Poppins', sans-serif;
     font-weight: 600;
 }
 }



.seccion3I {
    background-color: rgba(0, 0, 0, 0.473);
    .h2S3I {
    color: #fff;
     font-family: 'Cairo', sans-serif;
}

.pS3 {
    color: #fff;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}
}
