section .sectionP2 {
    margin-bottom: 40px;
    .hrProduc {
    width: 100px; 
    margin-bottom:20px; 
    height:2px; 
    margin-top: 10px;
    .h2Productos {
    color: rgb(3, 3, 3);
    font-family: 'Roboto', sans-serif;
}
}
}
