$variablesAsidePro:(
   bordes: solid 1px #242729,
   colorFondo: #242729,
   borderRadio: 10px,
   tiempotransicion: all 1s,
   margenes: 0px 10px 0px 10px,
   ancho: 100px,
   alto: 500px
   cursorr: pointer,
);