@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;400;500;600&family=Montserrat:wght@200;300;400&family=Poppins:wght@200;300&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav .menuHam {
    display: none;
}

nav .menuHam:checked + ul {
    display: flex;
}

.navbar {
    width: 100%;
    background-color: #242729;
}

.imgHam {
    width: 30px; 
    margin: 20px 0px 15px 25px;
}

.navInicio,.ulInicio{
    background-color: transparent;
    box-shadow: none;
}

nav {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.24);
}

nav ul{
     width: 100%;
     display: none;
     flex-direction: column;
     align-items: flex-end;
    list-style: none;
    background-color: #242729;
  
}

nav ul li {
    padding: 7px;  
    margin-right: 10px;
}

nav ul li a {  
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 17px;
    transition: all .5s;
}

nav ul li a:hover {
     color: rgb(255, 255, 255);
     border-bottom: 1px solid white;
     text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.466);
}

.aI {
    margin-left: 35px;
}

@media  screen and (min-width: 776px) {
  .labelMenu {
    display: none;
}

nav {
     box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.24);
}

nav ul{
    margin:auto;   
    height: 100px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-right: 32px;  
}

nav ul li {
    width: 120px;   
    text-align: center;   
}
}

.contenedorInicio {
    background-image: url(img/Inicio.jpg);
    background-attachment: fixed;
}

hr {
    width: 300px;
    height: 3px;
    color: black;
    background-color: rgb(0, 0, 0);
    margin: auto;
    opacity: 1;
}

.cajaTitulo {
    margin-top: 100px;
    color: black;
    font-family: 'Cairo', sans-serif;
    text-shadow: 0px 10px 25px rgba(0, 0, 0, 0.486);
}

.h1Inicio,h3,hr {
    animation-name: desvanecer;
    animation-duration: 1.5s;
  
}

@keyframes desvanecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}

.seccion1I {
    margin-top: 220px;
   background-color: rgba(0, 0, 0, 0.473);
   height: auto;
}

.h2I {
    color: #fff;
    text-shadow: 0px 5px 15px rgba(0, 0, 0, 0.658);
    font-family: 'Cairo', sans-serif;
}

.pI {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
 }

 .seccion2I{
    margin-top: 80px
 }

.h2S2I {
    text-shadow: 0px 5px 20px rgba(0, 0, 0, 0.219);
}

.pS2 {
    font-size: 20px;
     font-family: 'Poppins', sans-serif;
     font-weight: 600;
}

.seccion3I {
    background-color: rgba(0, 0, 0, 0.473);
}

.h2S3I {
    color: #fff;
     font-family: 'Cairo', sans-serif;
}

.pS3 {
    color: #fff;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}


/*Productos*/

.contenedores {
    background-color: rgba(230, 227, 227, 0.699);
}

img {
    max-width: 130px;
}

.divProduc {
    border: 1px solid black;
    padding: 15px ;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.219); 
}

.h2Productos {
    color: rgb(3, 3, 3);
    font-family: 'Roboto', sans-serif;
}

.btnProd {
    color: white;
    background-color: #242729;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    width: 100%;
    height: 40px;
    font-weight: bold;
    transition: all 0.5s;
}

.btnProd:hover {
    border-radius: 10px;
    background-color: rgba(209, 205, 205, 0.199);
    color: #242729;
}

.btnProd2 {
    color: white;
    background-color: #242729;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    width: 85%;
    height: 35px;
    font-weight: bold;
    transition: all 0.5s;
}

.btnProd2:hover {
    border-radius: 10px;
    background-color: rgba(209, 205, 205, 0.199);
    color: #242729;
}

.cajaP {
    border: solid 1px #242729; 
     background-color: #242729;
     border-radius: 10px;
     transition: all 1s;
     margin: 0px 10px 0px 10px;
     height: 100px;
         width: 500px;
         cursor: pointer;
}

.cajaP:hover {
    background-color: #242729c0;
} 

.DP2 {
    width: 200px;
}

.DP1 {
    width: 200px;
}

.parrafoP {
    color:  rgb(247, 243, 243);
    font-family: 'Montserrat', sans-serif;
}

big {
    font-weight: bold;
}

@media screen and (max-width:776px){
.cajaP {
   width:97%;
}
     
    aside {
        display: flex;
        flex-direction: column;
    } 
    
    .DP2 {
        width: 200px;
    }

    .DP1 {
        width: 200px;
    }

}



@media screen and (max-width:576px){
   .divProduc {
    width: 100px;
   }

   .seccionP1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionP2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divProduc {
    margin: 10px 0px;
    width: 50%;
}

}

.sectionP2 {
    margin-bottom: 40px
}

.hrProduc {
    width: 100px; 
    margin-bottom:20px; 
    height:2px; 
    margin-top: 10px;
}

.ImgPro1 {
    height: 220px;
}

.ImgPro2 {
    height: 220px;
}

.ImgPro3 {
    height: 220px;
}

.ImgPro4 {
    height: 220px;
}

.ImgPro5 {
    height: 220px;
}

.ImgPro6 {
    height: 220px;
}

/*NOSOTROS*/

.cajaImgNos {
   max-width: 800px;
}

.nosotrosImg {
  margin-left: 14px;
  border-radius:30px;
  transition: all 1s;
}

.nosotrosImg:hover {
    transform: scale(1.02);
}

img {
    max-width: none;
}

.mainNos {
   margin-top: 60px;
}

.parrafoNos {
    font-family: 'Cairo', sans-serif;
    max-width: 90%;
    max-height: 300px;
    margin-bottom: 10px;
  margin: auto;
} 

.contenedoresNos {
    background-color: rgb(253, 253, 253);
}

.hrNos1 {
    margin-top: 70px;
    width: 80%;
    height: 2px;
}

.hrNos2 {
    height: 2px;
    width: 200px;
    margin-top: 20px;
}

.hrNos3 {
    width: 80%;
    height: 2px;
    margin-bottom: 60px;
    margin-top: 50px;
}

@media screen and (max-width:775px){
    .h1Nos {
        margin-top: 20px;
    }
}


/*NOVEDADES*/

.mainNov {
   margin-top: 70px;
}

.textoNov {
    font-family: 'Montserrat', sans-serif;
}

.cajaImgNov {
    border-radius: 15px;
    margin-bottom: 25px;
    margin-top: 50px;
    padding-left: 20px;
}

.ImgNov { 
    background-size: cover;
    width: 400px;
    min-width: 380px;
    height: 250px;
    border-radius: 12px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.486);
    transition: all 1s;
    opacity: 0.8;
}

.ImgNov:hover {
  transform: scale(1.01);
  opacity: 1;
}

.TC1 {
    margin-left: 20px;
}

@media screen and (min-width:768px){
     .ImgNov {       
        min-width: 250px;
        max-width: 250px;
        height: 200px;     
    }

    .cajaImgNov {
        margin-left: 0px;
    }
}


/*CONTACTO*/

.contenedoresCon {
    background-color: rgb(253, 253, 253);
}

.mainCon {
    margin-top: 200px;
}

.section1 {
    height: 400px;
}

.section2 {
    height: 400px;

}

.textoSection1 {
    font-family: 'Poppins', sans-serif;
}

.h4Fot {
    margin-top: 50px;
    font-weight: 600;
}

.imgFotLogo { 
  max-width: 130px;
}

.cajaTextoFot {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    margin-bottom: 20px;
}

.aRedesFot {
    color: white;
    transition: all .5s;
}

.aRedesFot:hover {
    color: #ecebebd7;
}

svg {
    width: 18px;
    height: 18px;
    margin: 3px;
}

input,label {
    font-family: 'Poppins', sans-serif;

}

.inputNombre {
    margin-left: 10px;
    padding: 8px;
    padding-bottom: 15px;
    background-color: transparent;
    border: none; 
    border-bottom: 2px solid rgba(0, 0, 0, 0.466);;
    font-size: 20px;
    }
.inputNombre:hover {
   background-color: transparent;
   box-shadow: none;
   border-bottom: 2px solid #242729;
}
.inputNombre:focus {
    background-color: transparent;
    box-shadow: none;
    border-bottom: 2px solid #ac1e1e;
 }


.inputApellido {
    margin-left: 10px;
    padding: 8px;
    padding-bottom: 15px;
    background-color: transparent;
    border: none; 
    border-bottom: 2px solid rgba(0, 0, 0, 0.466);
    font-size: 20px;
}
.inputApellido:hover {
    background-color: transparent;
    box-shadow: none;
    border-bottom: 2px solid #242729;
 }
.inputApellido:focus {
    background-color: transparent;
    box-shadow: none;
    border-bottom: 2px solid #ac1e1e;
 }


.inputEmail  {
    margin-left: 10px;
    padding: 10px;
    padding-bottom: 50px;
    margin-top: 30px;
    background-color: transparent;
    border: none; 
    border-bottom: 2px solid rgba(0, 0, 0, 0.466);
}
.inputEmail:hover {
    background-color: transparent;
    box-shadow: none;
    border-bottom: 2px solid #242729; 
 }
 .inputEmail:focus {
    background-color: transparent;
    box-shadow: none;
    border-bottom: 2px solid #ac1e1e;
 }


.textarea {
    margin-left: 10px;
    margin-top: 40px;
    background-color: transparent;
    border: none; 
    border-bottom: 2px solid rgba(0, 0, 0, 0.466);
    font-size: 20px;  
}
.textarea:hover {
    background-color: transparent;
    box-shadow: none;
    border-bottom: 2px solid #242729;
 }
 .textarea:focus {
    background-color: transparent;
    box-shadow: none;
    border-bottom: 2px solid #ac1e1e;
 }

.btnCon { 
    margin-left: 10px;
    margin-top: 40px;
    padding: 5px;
    width: 70px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    transition: all .8s;
    background-color: transparent;
}

.btnCon:hover {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.486);
   transform: scale(1.05);
   color: white;
   background-color: #242729;
}

.labelCon {
     margin-top: -15px;
   
}



label {
    font-size: 20px;  
}

.asideCon {
  margin-left: 12px;
}

footer {
    background-color: #242729;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerCon {
    width: 104%;
}


@media screen and (min-width: 776px){
    footer {
        display: flex;
        flex-direction: row;
       justify-content: space-around;
    }

       .cajaRedes {
        margin-top: 120px;
       }

       .cajaTextoFot {
        margin-top: 50px;
       }
}